<!--
A:link {
	FONT-SIZE: 8pt; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 8pt; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 8pt; COLOR: #990000; FONT-STYLE: normal; FONT-FAMILY: Tahoma; TEXT-DECORATION: underline
}
.Estilo1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.Estilo2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.Estilo3 {
	color: #003366;
	font-weight: bold;
}
.Estilo6 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
.Estilo9 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #003366;
}
.Estilo11 {color: #999999}

.titul0 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #e10000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.titul0:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #e10000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.txt {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.titul1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #e10000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.titul1:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #e10000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.subtitu {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.fecha {
	FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.titul2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #e10000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.titul2:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #e10000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.audio {
	FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.audio:hover {
	FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.linksec {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.linksec:hover {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.linksecbla {
	FONT-SIZE: 11px; COLOR: #fff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.linksecbla:hover {
	FONT-SIZE: 11px; COLOR: #fff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.txcolum {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txtBla {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txtBla:hover {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.masinfo {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #b90000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.masinfo:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #e10000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.txtlink {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txtlink:hover {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.indica {
	FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.indibla {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.espec {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.espec:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.espemas {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.espemas:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.audioRED {
	FONT-SIZE: 10px; COLOR: #e10000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.audioRED:hover {
	FONT-SIZE: 10px; COLOR: #e10000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.linkceldas {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: #e5e5e5; TEXT-DECORATION: none
}
.linkceldas:hover {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.linkblait {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.titus {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #a3a3a3; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.titus:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.extra {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #000000 1px solid; COLOR: #000000; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: #e5e5e5; TEXT-DECORATION: none
}
.inptext {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 10px; PADDING-BOTTOM: 1px; BORDER-LEFT: #000000 1px solid; WIDTH: 74px; COLOR: #000000; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.inpbusc {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 10px; PADDING-BOTTOM: 1px; BORDER-LEFT: #000000 1px solid; WIDTH: 100px; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 19px; BACKGROUND-COLOR: #ffffff
}
.vineta {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; MARGIN: 0px 5px 2px 0px; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.piefoto {
	BORDER-RIGHT: #a7a7a7 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #a7a7a7 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 10px; PADDING-BOTTOM: 3px; BORDER-LEFT: #a7a7a7 1px solid; COLOR: #666666; PADDING-TOP: 3px; BORDER-BOTTOM: #a7a7a7 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f4f4f4; TEXT-DECORATION: none
}
.servis {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: #666666 1px solid; COLOR: #a7a7a7; PADDING-TOP: 0px; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 18px; BACKGROUND-COLOR: #f7f7f7; TEXT-DECORATION: none
}
.galer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; BACKGROUND-IMAGE: url(images/gal-vin.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 5px 0px 0px; VERTICAL-ALIGN: top; WIDTH: 175px; PADDING-TOP: 3px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 135px
}
.galefond {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: center 50%; PADDING-LEFT: 48px; BACKGROUND-IMAGE: url(images/galefond.gif); PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; WIDTH: 426px; PADDING-TOP: 7px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 322px
}
.tdmasespe {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 0px
}
.tdtituesp {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid; BACKGROUND-COLOR: #b8b8b8
}
.txgaler {
	FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.tabespgen {
	BORDER-RIGHT: #8db5ce 1px solid; BORDER-TOP: #8db5ce 1px solid; BORDER-LEFT: #8db5ce 1px solid; BORDER-BOTTOM: #8db5ce 1px solid; BACKGROUND-COLOR: #f5f5f5
}
.vinperso {
	BORDER-RIGHT: #e10000 1px solid; BORDER-TOP: #e10000 1px solid; MARGIN: 0px 0px 0px 2px; BORDER-LEFT: #e10000 1px solid; BORDER-BOTTOM: #e10000 1px solid
}
.tabpropin {
	BORDER-RIGHT: #d1afa2 1px solid; BORDER-TOP: #d1afa2 1px solid; BORDER-LEFT: #d1afa2 1px solid; BORDER-BOTTOM: #d1afa2 1px solid; BACKGROUND-COLOR: #f2edea
}
.comenta {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;  line-height: 1.5; left: 5px;
}
.horacomenta {
	FONT-SIZE: 10px; COLOR: #a96b54; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.comentaopin {
	FONT-SIZE: 12px; COLOR: #666666; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.tabtitprog {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(images/lineasprogra.gif); PADDING-BOTTOM: 5px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 90px; BACKGROUND-COLOR: #ffffff
}
.hjcktxt {
	FONT-SIZE: 11px; COLOR: #b04e0a; LINE-HEIGHT: 12px; FONT-STYLE: italic; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; TEXT-DECORATION: none
}
.hjcktitu {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #954107; FONT-STYLE: italic; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; TEXT-DECORATION: none
}
.hjcktitu:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #954107; FONT-STYLE: italic; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; TEXT-DECORATION: underline
}
.vinelec06 {
	BORDER-RIGHT: #006699 2px solid; BORDER-TOP: #006699 2px solid; MARGIN: 0px 5px 2px 0px; BORDER-LEFT: #006699 2px solid; BORDER-BOTTOM: #006699 2px solid; BACKGROUND-COLOR: #ffffff
}
.titul2azu {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #006699; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.titul2azu:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #006699; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.titul0azu {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #006699; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.titul0azu:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #006699; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.titul1azu {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #006699; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.titul1azu:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #006699; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.masinfoazu {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #006699; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.masinfoazu:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #006699; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.audioBlack {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.audioBlack:hover {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.buscatop {
	PADDING-RIGHT: 5px; BACKGROUND-POSITION: left bottom; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(images/cabe-blanco_04.gif); PADDING-BOTTOM: 0px; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat
}
.tabpresi06 {
	BORDER-RIGHT: #e10000 1px dotted; PADDING-RIGHT: 0px; BORDER-TOP: #e10000 1px dotted; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #e10000 1px dotted; PADDING-TOP: 0px; BORDER-BOTTOM: #e10000 1px dotted
}
.celdpresi06 {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(images/rayavert.gif); BACKGROUND-REPEAT: repeat-y
}
.vinhuecos {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 14px; BACKGROUND-POSITION: left top; BORDER-TOP: medium none; PADDING-LEFT: 16px; BACKGROUND-IMAGE: url(images/vin-huecos.gif); PADDING-BOTTOM: 15px; MARGIN: 0px 5px 2px 0px; BORDER-LEFT: medium none; PADDING-TOP: 15px; BORDER-BOTTOM: medium none; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #ffffff
}
.titul1amar {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.titul1amar:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.bordeneg2pix {
	BORDER-RIGHT: #000000 2px solid; BORDER-TOP: #000000 2px solid; MARGIN: 3px; BORDER-LEFT: #000000 2px solid; BORDER-BOTTOM: #000000 2px solid
}
.masinfoamar {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffcc00; TEXT-DECORATION: none
}
.masinfoamar:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffcc00; TEXT-DECORATION: underline
}
.fndbuspat {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(images/fndbuspat.gif); BACKGROUND-REPEAT: no-repeat
}
.txtlinb {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txtlinb:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #404040; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
